@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

a:focus, button:focus, a:focus-visible,
button:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 4px;
}
