@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;700&display=swap');

body {
  font-family: 'Geist', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

a:focus, button:focus, a:focus-visible,
button:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 4px;
}
