@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

a {
  text-decoration: underline;
}

a:focus, button:focus, a:focus-visible,
button:focus-visible {
  outline: 2px dashed currentColor;
  outline-offset: 4px;
}

.h2 {
  text-wrap: balance;
  text-align: center;
}

@media (max-width: 768px) {
  .h2 {
    line-height: 0.85 !important;
    margin-top: 0.5rem !important;
  }
}

@media (max-width: 662px) {
  .h1 {
    font-size: 24vw !important;
  }
}
@media (max-width: 465px) {
  .h1 {
    font-size: 23vw !important;
  }
}
@media (max-width: 359px) {
  .h1 {
    font-size: 22vw !important;
  }
}

